.form-container {
  margin: 1rem auto;
  max-width: 20rem;
  width: 100%;

  form {
    margin: 0 auto;
    width: 100%;
  }
}

.login-signup-meta {
  margin: 1rem auto;
  text-align: center;
  width: 50%;
}

.card-header {
  text-align: left;
}
