/**
 * Easier to keep variables in one place
 */

// Typography
$headingFonts: "Open Sans", "Segoe UI", Tahoma, sans-serif;
$headingFontsAlt: "Arimo", Arial, sans-serif;
$bodyFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$bodyFontsAlt: "Lato", "Trebuchet MS", sans-serif;
